.page-top
{
	border-bottom: 1px solid #E0E0E0;
	margin: 10px 0;
	padding: 10px 0;
}

.page-top .normal
{
	color: inherit;	
}

.page-top .ww-gray
{
	color: #7C8079;	
}

.page-top .ww-yellow
{
	color: #FDB817;	
}

.page-bottom
{
	border-top: 1px solid #DDDDDD;
	margin: 15px 0;
	padding: 15px 0;
	text-align: center;
	font-size: 11px;
}

.page-bottom img
{
	height: 38px;
}

.section-top
{
	border-bottom: 3px solid #E0E0E0;
	margin-bottom: 15px;
	color: #E0E0E0;
}

.section-top h3
{
	margin: 0;
}

.section-bottom
{
	border-top: 3px solid #E0E0E0;
	padding-top: 15px;
}

.form-field
{
	margin: 10px;
}

.form-field .form-label
{
	padding-top: 10px;
	text-align: right;
	font-size: 18px;
}

.form-field input,
.form-field textarea
{
	width: 90%;
	height: auto;
	padding: 5px;
	font-size: 22px;
}

.form-feedback
{
	padding-top: 10px;
	color: #b94a48;
}

.form-action
{
	padding: 0 10px;
}

.sub-form-label
{
	padding-top: 8px;
}

.sub-form-select
{
	height: 30px !important;
}

.sub-form-action
{
	margin-top: 10px;
}

.update-form
{
	
}

.update-form input
{
	margin-left: 10px;
}

.update-form a
{
	margin: 0 0 10px 10px;
}

.list
{
	
}

.list .item
{
	border-top: 1px solid #E0E0E0;
	padding: 10px 0;
}

.list .item:hover
{
	background-color: #F9F9F9;
}

.list .item h4,
.list .item .status
{
	margin-left: 10px;
}

.list .item h4 a,
.list .item h4 a:visited
{
	color: inherit;
}

.list .item .remove
{
	padding-right: 10px;
}

.signup
{
	border: 1px solid #E0E0E0;
	padding: 20px;
}

.feedback
{
	margin-left: 30px;
	color: #c09853;
}